<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.honjal.honjal.dao.ext.CommentDao">
 
 <select id="selectAll" resultType="CommentVO">
		SELECT * FROM tbl_comment
</select>
<select id="findByIdComment_num" parameterType="Integer" resultType="CommentVO">
	SELECT * FROM tbl_comment 
	WHERE comment_num = #{comment_num}
</select>
 
<insert id="insert" parameterType="CommentVO">
	INSERT INTO tbl_comment(comment_num,comment_text,comment_time,comment_writer)
	VALUES(#{comment_num},#{comment_text},#{comment_time},#{comment_writer})
</insert>
<update id="update" parameterType="CommentVO">
	UPDATE tbl_comment SET
	comment_text = #{comment_text},
	comment_time = #{comment_time}
	WHERE comment_num = #{comment_num}
</update>
 
<delete id="delete">
	DELETE FROM tbl_comment WHERE comment_num = #{comment_num}
</delete>
 </mapper>